/* prevent the drop down icon going onto a new line for the top bar language link */
.top-bar-language-nav-link {
    min-width: 65px;
}

@font-face {
    font-family: 'Vazir';
    src: url(~/fonts/Vazir/Vazir.eot);
    src: url(~/fonts/Vazir/Vazir.eot?#iefix) format("embedded-opentype"), url(~/fonts/Vazir/Vazir.woff) format("woff"), url(~/fonts/Vazir/Vazir.ttf) format("truetype"), url(~/fonts/Vazir/Vazir.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

/* bootstrap model showing two scroll bars */
html {
    overflow: visible;
}

/* main sidebar not under model */
.modal {
    z-index: 1110;
}

.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.nav-user-menu .user-image {
    width: 20px;
    margin-right: 4px;
    margin-top: -4px;
}

.famfamfam-flags {
    display: inline-block;
}


#IsBusy div.modal-content {
    background-color: rgba(100,100,200,0.6)
}

.field-validation-error {
    color: red
}