@using RoyalEstate.Web.Startup
@{
    ViewBag.Title = L("Estates");
    ViewBag.CurrentPageName = PageNames.Estates;
}

@section styles
{
    <style>
        ul#ulCategories li {
            padding: 0.7rem 0.5rem !important;
        }

        #newEstateSection ul {
            font-size: 1rem;
            font-weight: bold
        }

        #btnReturnToCategories {
            color: #777777;
            font-weight: bold;
            transition: color 0.5s
        }

            #btnReturnToCategories:hover {
                color: black;
            }

        .estateCover {
            height: 5rem
        }
        
    </style>
}

<section class="content-header text-right">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5 class="text-right">Royal Estates</h5>
            </div>
        </div>
    </div>
</section>



<section class="content">
    <div class="container-fluid text-right">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-right">
                        <button id="btnNewEstate" class="btn btn-success">پرونده جدید</button>
                    </div>
                    <div class="card-body">
                        <section id="newEstateSection" class="d-none">
                            <div class="row justify-content-end">
                                <button class="btn close" style="font-size: 3rem">&times;</button>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-sm-12 col-md-6 col-lg-4">
                                    <h5>دسته پرونده را انتخاب کنید</h5>
                                    <ul id="ulCategories" class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#sellResidential">فروش مسکونی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#rentResidential">اجاره مسکونی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#sellCommercial">فروش اداری/تجاری</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#rentCommercial">اجاره اداری/تجاری</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content d-none">
                                        <button id="btnReturnToCategories" class="btn btn-link">
                                            <i class="fa fa-arrow-circle-right"></i>&nbsp;
                                            بازگشت به همه دسته‌بندی‌ها
                                        </button>
                                        <div class="tab-pane container" id="sellResidential">
                                            <label>فروش مسکونی</label>
                                            <ul class="list-group ">
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="1" data-EstateTypeId="1">
                                                        <i class="fa fa-building"></i>
                                                        آپارتمان
                                                    </a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="1" data-EstateTypeId="2">
                                                        <i class="fa fa-home"></i>
                                                        خانه/ویلا
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane container" id="rentResidential">
                                            <label>اجاره مسکونی</label>
                                            <ul class="list-group ">
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="2" data-EstateTypeId="1">
                                                        <i class="fa fa-building"></i>
                                                        آپارتمان
                                                    </a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="2" data-EstateTypeId="2">
                                                        <i class="fa fa-home"></i>
                                                        خانه/ویلا
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane container" id="sellCommercial">
                                            <label>فروش اداری/تجاری</label>
                                            <ul class="list-group ">
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="1" data-EstateTypeId="3">
                                                        <i class="fa fa-store"></i>
                                                        مغازه
                                                    </a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="1" data-EstateTypeId="4">
                                                        <i class="fa fa-building"></i>
                                                        دفتر کار
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane container" id="rentCommercial">
                                            <label>اجاره اداری/تجاری</label>
                                            <ul class="list-group ">
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="2" data-EstateTypeId="3">
                                                        <i class="fa fa-store"></i>
                                                        مغازه
                                                    </a>
                                                </li>
                                                <li class="list-group-item">
                                                    <a href="#" class="newEstateLink" data-ServiceTypeId="2" data-EstateTypeId="4">
                                                        <i class="fa fa-building"></i>
                                                        دفتر کار
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @using (Html.BeginForm("NewEstate", "Estates", FormMethod.Post, new { id = "frmNew", @class = "d-none" }))
                            {
                                @Html.AntiForgeryToken()
                                <input name="estateTypeId" type="hidden" value="" />
                                <input name="serviceTypeId" type="hidden" value="" />
                            }
                        </section>
                        <div id="estatesSection" class="row">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(() => {
            $("#btnNewEstate").click(function () {
                $("#newEstateSection").removeClass("d-none");
                $("#estateSection").addClass("d-none");
            });

            $("#newEstateSection a.nav-link").click(function () {
                $("#ulCategories").addClass("d-none");
                $("#newEstateSection div.tab-content").removeClass("d-none");
            });

            $("#btnReturnToCategories").click(function () {
                $("#ulCategories").removeClass("d-none");
                $("#ulCategories .active").removeClass("active");
                $("#newEstateSection div.tab-pane").removeClass("fade active show");
                $("#newEstateSection div.tab-content").addClass("d-none");
            });

            $("a.newEstateLink").click(function () {
                let serviceTypeId = $(this).attr("data-ServiceTypeId");
                let estateTypeId = $(this).attr("data-EstateTypeId");
                $("#frmNew input[name='estateTypeId']").val(estateTypeId);
                $("#frmNew input[name='serviceTypeId']").val(serviceTypeId);
                $("#frmNew").submit();
            });

            $("#newEstateSection button.close").click(function () {
                $("#newEstateSection").addClass("d-none");
                $("#estateSection").removeClass("d-none");
            })
        })
    </script>

    <script src="~/view-resources/Views/Estates/Index.js" asp-append-version="true"></script>
}